* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	font-weight: normal;
}

body,
html {
	height: 100%;
	font-size: 62.5%;
	overflow-y: hidden;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.scrollable {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.main-view {
	height: 100%;
	display: flex;
}

.main-view .content {
	height: 100%;
	width: 100%;
	font-size: 1.5rem;
	padding: 0 15px 15px 15px;
}

.accelerate {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}